html, body{
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
.menu{
    display: inline-block;
}
h1{
    color: black;
}
.div_formulario{
    width: 30%;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}
.img_primaria{
    width:50%;
    margin: auto;
    
}
#filme_todos{
    border: 1px solid black;
    width: 100%;
}
td{
    border: 1px solid black;
}
.dados{
    text-align: center;
}
#cadastro-filme{
    width: 100%;
    /*border: 1px solid black;*/
    text-align: center;
}
.forms{
    width: 50%;
    height: 20px;
}
.select{
    width: 42%;
    height: 20px;
}
#minhas-listas th{
    border: 1px solid black;
}

